/* Font Classes */


@media (min-width:576px) {
    .f-h1 {
        font-family: 'Parisienne', cursive;
        font-size: 80px;
        font-weight: 900;
    }
}

@media (max-width: 575.98px) {
    .f-h1 {
        font-family: 'Parisienne', cursive;
        font-size: 45px;
        font-weight: 500;
    }
}

.f-h2 {
    font-size: 35px !important;
    font-weight: normal;
    font-family: alice;
}

.f-h3 {
    font-size: 25px !important;
    font-family: alice;
    font-weight: bold;
}

/* Breakpoints */
:root {
    --small-max: 575.98px;
    --medium-min: 576px;
    --medium-max: 926.8px;
    --large-min: 927px;
    --margin-percent: 8%;
    --color-header: #2e2d2d;
    --radius-large: 15px;
}

/*(min-width: 576px) and (max-width:926.8px)*/