.navbar {
    background-color: var(--color-header);
}

@media (max-width: 378px) {
    .navbar {
        font-size: 12px;
    }
}

@media (min-width: 576px) {
    .navbar-nav > li {
        padding-left:20px;
        padding-right: 20px;
    }
}

@media (max-width: 575.98px) {
    .navbar-nav > li {
        padding-left:5px;
        padding-right: 5px;
    }
}