.card {
    transition: all 0.3s;
    border-width: 0px !important;
    background-color: rgb(251, 251, 251) !important;
}

.card:hover {
    transform: scale(1.15);
}

.card:hover .card-text {
    display: flex;
}

.card-text {
    display: none;
}

@media (max-width: 768px) {
    .mobile-hide Ç {
        display: none;
    }
}

#regalos {
    background-color: rgb(243, 235, 222);
}